.promotion-page {
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: column; /* ทำให้เนื้อหาจัดเรียงในแนวตั้ง */
  min-height: 100vh; /* ใช้ความสูงอย่างน้อย 100% ของ viewport height */
  background: linear-gradient(135deg, #BE375F, #ED8554, #F5EB6D); /* Gradient Sunrise */
}

.promotion-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* กำหนดความกว้างสูงสุดสำหรับ content */
  width: 100%; /* ใช้ความกว้างเต็มที่ */
}
