.line-button {
    position: absolute;
    bottom: 20px;
    right: 90px; /* Adjust this value so it doesn’t overlap with the Messenger button */
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .line-button img {
    width: 50px;
    height: 50px;
  }
  
  .line-button:hover {
    transform: scale(1.1);
  }
  